# menu for i2c Daicy Chain example
menu "i2c Daicy Chain Configuration"

    config PCF8574_SLAVE_ADDR
        hex "PCF8574 Slave Address"
        default 0x21
        help
            A0 jumper to ground on PCF8574 expander.

    config PCF8574_SLAVE_KPD_ADDRESS
        hex "PCF8574 Slave Keypad Address"
        default 0x20 
        help
            No jumper set for keypad on PCF8574 expander.

    config LCD_SLAVE_ADDR
        hex "LCD Slave Address"
        default 0x27
        help
            This is the same as 0x4E>>1. It is hard wired in the device. Change this according to your device setup.

endmenu
